body {
    background-image: linear-gradient(to right, rgb(115, 149, 194) 70vw, #add8e6e7 70vw);
}

footer {
    position: absolute;
    bottom: 0;
    color: white;
}

#self-description {
    text-align: center;
    top: 35vh;
    left: 35vw;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: left;
    font-family: 'Arial';
}

#self-description > h1 {
    color: #add8e6e7;
    font-size: 5vh;
    margin: 0px auto;
}

#self-description > h2 {
    color: #add8e6e7;
    font-size: 3vh;
    margin: 10px auto;
}

#portrait {
    width: 25vh;
    height: 25vh;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 70vw;
    top: 65vh;
    border: 10px solid white;
}

nav {
    position: absolute;
    top: 1vw;
    right: 1vw;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    text-align: right;
    font-family: "Oswald";
    font-size: x-large;
    display: block;
    margin-bottom: 15px;
    color: rgb(115, 149, 194);
    text-decoration: none;
}

.nav-link:hover {
    color: white;
}

.active {
    color: white;
}

#title {
    margin-left: 1vw;
    margin-top: 1.5vh;
    font-family: "Oswald";
    color: #add8e6e7;
}