@media screen and (max-width: 600px) {
    #portrait {
        width: 30vw !important;
        border: 5px solid white !important;
    }
}

@keyframes font_increasing {
    from {font-size: 1px;}
    to {} 
  }

body {
    background-image: linear-gradient(to right, rgb(115, 149, 194) 70vw, #add8e6e7 70vw);
}

footer {
    position: absolute;
    bottom: 0;
    color: white;
    margin: 0.5vw;
}

#self-description {
    top: 35vh;
    left: 35vw;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: left;
    font-family: 'Arial';
}

#self-description > h1 {
    color: #add8e6e7;
    font-size: 5vh;
    margin: 0px auto;
    animation-name: font_increasing;
    animation-duration: 4s;
}

#self-description > h2 {
    color: #add8e6e7;
    font-size: 3vh;
    margin: 10px auto;
    animation-name: font_increasing;
    animation-duration: 4s;
}

#portrait {
    width: 25vh;
    height: auto;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 70vw;
    top: 65vh;
    border: 10px solid white;
    transition: 2s;
}


#portrait:hover {
    width: 30vh;
    height: auto;
}

nav {
    position: absolute;
    top: 1vw;
    right: 1vw;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    text-align: right;
    font-family: "Oswald", "Arial Black";
    font-size: x-large;
    display: block;
    margin-bottom: 15px;
    color: rgb(115, 149, 194);
    text-decoration: none;
}

.nav-link:hover {
    color: white;
}

.active {
    color: white;
}

#title {
    position: absolute;
    margin-left: 1vw;
    margin-top: 1vh;
    font-family: "Oswald";
    color: #add8e6e7;
    animation-name: font_increasing;
    animation-duration: 4s;
}

.two_sides {
    display: grid;
    grid-template-columns: 70vw 30vw;
    grid-template-rows: 100vh;
    margin:0px
}

.two_sides > main {
    grid-column: 1;
    grid-row: 1;
}

.two_sides > aside {
    grid-column: 2;
    grid-row: 1;
}